/* GLOBAL */
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #ffffff;
  overflow: auto;
}

* {
  box-sizing: border-box;
}

/*** FONTS ***/
@font-face {
  font-family: albertSans_bold;
  src: url(../src/assets/fonts/AlbertSans-Bold.ttf);
}

@font-face {
  font-family: albertSans_semiBold;
  src: url(../src/assets/fonts/AlbertSans-SemiBold.ttf);
}

@font-face {
  font-family: albertSans_medium;
  src: url(../src/assets/fonts/AlbertSans-Medium.ttf);
}

@font-face {
  font-family: albertSans_regular;
  src: url(../src/assets/fonts/AlbertSans-Regular.ttf);
}

@font-face {
  font-family: albertSans_light;
  src: url(../src/assets/fonts/AlbertSans-Light.ttf);
}
